/* Preferences */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
  font-family: Pangolin;
  font-size: 1em;
  background-color: rgb(238, 236, 236);
}
.hide{
  display: none;
}
/* ---------- Navbar ---------- */
nav{
  height: 100vh;
  width: 10vw;
  float: left;
  border: black solid 2px;
  position: fixed;
  text-align: center;
}
/* Navbar Title */
nav h1{
  height: 5vh;
  border: black 2px solid;
  font-size: 1.1em;
}
/* Navbar profile */
.profile{
  height: 20vh;
  border: black 2px solid;
}
.profile p{
  height: 15%;
  font-size: 80%;
}
.profileImg{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 60%;
  border-radius: 20px;
  border: 1px black solid;
}
.profileImg img{
  border-radius: 20px;
}
.profileButtons{
  height: 25%;
}
.profileButtons button{
  color: blue;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 2px 4px;
  padding: 2px;
  cursor: pointer;
}
/* Navbar navigation */
.navigation{
  height: 55vh;
  border: black 1px solid;
}
.navigation a{
    color: black;
    text-decoration: none;
}
.hover:hover{
    color: rgba(0, 0, 255);
    transition: 1s;
    font-size: 110%;
}
/* Navbar Settings */
.settings{
  transition: .6s;
}
.settingsMenu{
  color: darkgreen;
  transform: rotateX(-90deg);
  transform-origin: top;
  transition: .6s;
  width: 100%; 
}
.settingsMenu li{
  padding: 10px;
  width: 100%;
}
.settingsMenu button{
  color: darkgreen;
  box-shadow: 0 2px 4px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px; 
  cursor: pointer;
}
.settingsMenu input{
  color: darkgreen;
  box-shadow: 0 2px 4px;
}
.settingsMenu select{
  color: darkgreen;
  box-shadow: 0 2px 4px;
  cursor: pointer;
}
/* Settings Font Type */
.active{
  transform: rotateX(0);
}
.fonts{
  width: 90%;
}
/* Settings Font Size */
.settingsMenu input[type=range] {
  width: 75%;
  cursor: pointer;
}
/* Navbar socials */
.socials{
  font-size: 3em;
  color: blue;
}
.socials ul{
  height: 20vh;
  border: black 1px solid;
}
.socials li{
  text-align: centre;
  float: left;
  height: 10vh;
  width: 50%;
  cursor: pointer;
}
.socials li:hover{
  transition: 1s;
  font-size: 90%;
}
.socials a:visited{
  color: blue;
}
/* ---------- Home Page ---------- */
#homeSection1{
  float: right;
  background-image: url("..//assets/images/homeImageOne.jpg");
  background-repeat: no-repeat;
  background-color: lightgray;
  background-size: cover;
  background-attachment: fixed;
  width: 90%;
  height: 90vh;
  border: black 2px solid;
  position: relative;
}
#homeInfo{
  border: black .5px solid;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  height: 80%;
  width: 30%;
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 10px;
}
#homeAd{
  border: black .5px solid;
  position: absolute;
  bottom: -15px;
  background-repeat: no repeat;
  background-image: url("..//assets/images/homeSale.jpg");
  background-size: 100% 100%;
  right: 0;
  font-size: 0.9em;
  padding: 2px;
  height: 10%;
  width: 40%;
  z-index: 1;
}
#homeSection2{
  border-top: blue 1px solid;
  height: 70vh;
  width: 90%;
  float: right;
  position: relative;
  z-index: -1;
  padding: 10px;
  padding-top: 15px;
}
#homeSection2 a:visited{
  color: blue;
}
#map{
  position: absolute;
  width: 35%;
  height: 55vh;
  border: 2px solid lightblue;
  top: 10%;
  left: 1%;
  box-shadow: 0 2px 4px;
}
#homeRoles{
  position: absolute;
  width: 55%;
  height: 55vh;
  border: 2px solid rgb(9, 37, 46);
  top: 15%;
  right: 1%;
  background-color: rgba(0, 0, 255, 0.8);
  box-shadow: 0 2px 4px;
}